crash.log
dist/*.zip
docker/aws
errored.tfstate
go.mod
go.sum
projects/eks-cluster/charts/*.tgz
projects/eks-cluster/charts/index.yaml
projects/route53/import_zone.sh
run.sh
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
